# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.*

# testing
/coverage

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem
.env
.env.local
.env.*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Common temp/cache files
.cache/
.npm/
.npm-cache/
.eslintcache
_update-notifier-last-check
*[a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9]*

# IDEs
.vscode/
.idea/
*.swp
*.swo
